[Unit]
Description=len tunnel
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/autossh -M 0 -N -o "ExitOnForwardFailure=yes" -o "ServerAliveInterval=45" -o "ServerAliveCountMax=3" -R localhost:7070:localhost:22 pakon
Restart=always
RestartSec=15

[Install]
WantedBy=default.target
