[Unit]
Description=len tunnel
After=network.target

[Service]
ExecStart=/bin/ssh -T -o "ExitOnForwardFailure=yes" -o "ServerAliveInterval=45" -R localhost:7070:localhost:22 pakon
Restart=always
RestartSec=15

[Install]
WantedBy=default.target
