[Unit]
Description=pakon tunnel
After=network.target network-online.target NetworkManager-wait-online.service

[Service]
Type=simple
ExecStart=/usr/bin/ssh -NT -R localhost:7071:localhost:22 pakon
Restart=always
RestartSec=15
SyslogIdentifier=autossh@nec

[Install]
WantedBy=default.target
