[Unit]
Description=len tunnel
After=network.target

[Service]
Type=exec
ExecStart=/usr/bin/ssh -o ServerAliveInterval=60 -o ExitOnForwardFailure=yes -Nn -R 7070:localhost:22 pakon 'sleep 8d'
Restart=always
RestartSec=15
RuntimeMaxSec=3d

[Install]
WantedBy=default.target
