[Unit]
Description='On *-*-* 19:25:00 run brightness_lg_set 1'

[Service]
Type=simple
RemainAfterExit=no
TimeoutStartSec=infinity
ExecStartPre=/bin/sleep 600
ExecStart='/usr/bin/fish' '-c' 'brightness.lg.set 1'

