[Unit]
Description='On *-*-* 07:00:00 run brightness_lg_set 10'

[Service]
Type=simple
RemainAfterExit=no
TimeoutStartSec=infinity
ExecStartPre=/bin/sleep 600
ExecStart='/usr/bin/fish' '-c' 'brightness.lg.set 10'

