[Unit]
Description='On *-*-* 19:25:00 run setLGBrightness 1'

[Service]
Type=simple
RemainAfterExit=no
TimeoutStartSec=infinity
ExecStartPre=/bin/sleep 600
ExecStart='/usr/bin/fish' '-c' 'setLGBrightness 1'

