[Unit]
Description='On 12-31 12:30 run firefox https://ic.byu.edu/'
Requires=xdg-desktop-autostart.target
Requires=firefox.service

[Service]
Type=simple
RemainAfterExit=no
ExecStart='/usr/bin/fish' '-c' 'firefox https://ic.byu.edu/'
