[Unit]
Description='On *-*-* 21:15:00 run git config --file=/home/xk/.config/catt/catt.cfg options.device "Bedroom"'

[Service]
Type=simple
RemainAfterExit=no
ExecStart=/usr/bin/fish -c 'catt.default Bedroom'
