[Unit]
Description='On *-*-* 03:15:00 run git config --file=/home/xk/.config/catt/catt.cfg options.device "Xylo and Orchestra"'

[Service]
Type=simple
RemainAfterExit=no
TimeoutStartSec=infinity
ExecStartPre=/bin/sleep 600
ExecStart='/usr/bin/fish' '-c' 'git config --file=/home/xk/.config/catt/catt.cfg options.device "Xylo and Orchestra"'

