[Unit]
Description='On *-*-* 21:15:00 run catt -d Bedroom pair set_default'

[Service]
Type=simple
RemainAfterExit=no
TimeoutStartSec=infinity
ExecStartPre=/bin/sleep 600
ExecStart='/usr/bin/fish' '-c' 'catt -d Bedroom pair set_default'

