[Unit]
Description='On *-*-* 06:15:00 run cr'

[Service]
Type=simple
RemainAfterExit=no
ExecStart=/usr/bin/fish -c 'set_catt_default Xylo and Orchestra'
