[Unit]
Description='On *-*-* 21:15:00 run git config --file=/home/xk/.config/catt/catt.cfg options.device "Bedroom"'

[Service]
Type=simple
RemainAfterExit=no
TimeoutStartSec=infinity
ExecStart='/usr/bin/git config --file=/home/xk/.config/catt/catt.cfg options.device "Bedroom"'
