[Unit]
Description=/usr/bin/fish -c daily
Requires=mnt-d.mount

[Service]
Type=simple
RemainAfterExit=no
TimeoutStartSec=infinity
ExecStartPre=/bin/sleep 100
ExecStart=
ExecStart="/usr/bin/fish" "-c" "daily"
