[Unit]
Description=/usr/bin/fish -c dl_daily
Requires=mnt-d.mount

[Service]
Type=simple
RemainAfterExit=no
TimeoutStartSec=infinity
ExecStartPre=/bin/sleep 600
ExecStart=
ExecStart="/usr/bin/fish" "-c" "dl_daily"
