[Unit]
Description='On 12-15..31 0/18:30 run firefox https://store.epicgames.com/en-US/free-games'

[Timer]
Persistent=yes
OnCalendar=12-15..31 0/18:30

[Install]
WantedBy=timers.target

