[Unit]
Description='On Thu 18:30 run firefox https://store.epicgames.com/en-US/free-games'
Requires=xdg-desktop-autostart.target
Requires=firefox.service

[Service]
Type=simple
RemainAfterExit=no
ExecStart='/usr/bin/fish' '-c' 'firefox https://store.epicgames.com/en-US/free-games'

