[Unit]
Description=Run commands from a line-delimited jobs folder
Wants=network-online.target
After=network-online.target var-mnt-d.mount mnt-d.mount

[Service]
Type=simple
ExecStart=/usr/bin/fish -c "folder.eval .local/jobs/"
Restart=always
RestartSec=15m
RuntimeMaxSec=10m

[Install]
WantedBy=default.target
