[Unit]
Description=Run commands from a line-delimited jobs folder
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/fish -c "eval-dir .local/jobs/"
Restart=always
RestartSec=15m
RuntimeMaxSec=10m

[Install]
WantedBy=default.target
