[Unit]
Description='On *-*-* 20:45:00 run midnight'

[Service]
Type=simple
RemainAfterExit=no
TimeoutStartSec=infinity
ExecStartPre=/bin/sleep 100
ExecStart='/usr/bin/fish' '-c' 'midnight'

