[Unit]
Description=/usr/bin/fish -c monthly
After=network-online.target var-mnt-d.mount mnt-d.mount

[Service]
Type=simple
RemainAfterExit=no
RuntimeMaxSec=20d

ExecStart=
ExecStart="/usr/bin/fish" "-c" "monthly"
