[Unit]
Description=/usr/bin/fish -c monthly
Requires=mnt-d.mount

[Service]
Type=simple
RemainAfterExit=no
RuntimeMaxSec=20d

ExecStart=
ExecStart="/usr/bin/fish" "-c" "monthly"
