[Unit]
Description=SSHFS pakon
After=network-online.target
Before=remote-fs.target

[Mount]
What=pakon:
Where=/net/pakon
Type=fuse.sshfs
Options=_netdev,nodev,nosuid,noatime,follow_symlinks,dirsync,ServerAliveInterval=10,reconnect,delay_connect,max_conns=10

[Install]
WantedBy=default.target
