[Unit]
Description=SSHFS hk
After=network-online.target
Before=remote-fs.target

[Mount]
What=hk:
Where=/net/hk
Type=fuse.sshfs
Options=_netdev,nodev,nosuid,noatime,follow_symlinks,dirsync,ServerAliveInterval=10,reconnect,direct_io,delay_connect

[Install]
WantedBy=default.target
