[Unit]
Description=SSHFS backup
After=network-online.target
Before=remote-fs.target

[Mount]
What=backup:
Where=/net/backup
Type=fuse.sshfs
Options=_netdev,nodev,nosuid,noatime,follow_symlinks,dirsync,ServerAliveInterval=10,reconnect,delay_connect,max_conns=15

[Install]
WantedBy=default.target
