[Unit]
Description='On *-*-* 10:30:00 run noonday'

[Service]
Type=simple
RemainAfterExit=no
TimeoutStartSec=infinity
ExecStartPre=/bin/sleep 100
ExecStart='/usr/bin/fish' '-c' 'noon'

