[Unit]
Description=/usr/bin/fish -c lb tabs /home/xk/lb/tabs.db

[Service]
Type=simple
RemainAfterExit=no
Environment="DISPLAY=:0"
ExecStart="/usr/bin/fish" "-c" "lb tabs /home/xk/lb/tabs.db"
