[Unit]
Description=/usr/bin/fish -c lb tabs /home/xk/lb/tabs.db
Requires=xdg-desktop-autostart.target
Requires=firefox.service

[Service]
Type=simple
RemainAfterExit=no
Environment="DISPLAY=:0"
ExecStart="/usr/bin/fish" "-c" "lb tabs --max-same-domain 2 /home/xk/lb/tabs.db"
ExecStartPost="/usr/bin/fish" "-c" "lb openlinks ~/mc/links.db -w 'play_count=0' -rs --browser"
