[Unit]
Description=/usr/bin/fish -c cine
Requires=xdg-desktop-autostart.target

[Service]
Type=simple
RemainAfterExit=no
Environment="DISPLAY=:0"
ExecStart=
ExecStart="/usr/bin/fish" "-c" "cine"
