[Unit]
Description=/usr/bin/fish -c openmctabs /home/xk/mc/tabs
Requires=xdg-desktop-autostart.target
Requires=firefox.service

[Service]
Type=simple
RemainAfterExit=no
Environment="DISPLAY=:0"
ExecStart=
ExecStart="/usr/bin/fish" "-c" "openmctabs -n 10 /home/xk/mc/tabs"
