[Unit]
Description=/usr/bin/fish -c lb tabs /home/xk/lb/tabs.db
Requires=xdg-desktop-autostart.target
Requires=firefox.service

[Service]
Type=simple
RemainAfterExit=no
Environment="DISPLAY=:0"
ExecStart="/usr/bin/fish" "-c" "daily.links"
ExecStartPost="/usr/bin/fish" "-c" "daily.links.extra"
