[Unit]
Description=/usr/bin/fish -c opentabs /home/xk/mc/tabs.txt
Requires=xdg-desktop-autostart.target
Requires=firefox.service

[Service]
Type=simple
RemainAfterExit=no
Environment="DISPLAY=:0"
ExecStart=
ExecStart="/usr/bin/fish" "-c" "opentabs /home/xk/mc/tabs.txt"
