[Unit]
Description=/usr/bin/fish -c weekly
After=network-online.target var-mnt-d.mount mnt-d.mount

[Service]
Type=simple
RemainAfterExit=no
RuntimeMaxSec=6d

ExecStart=
ExecStart="/usr/bin/fish" "-c" "weekly"
