[Unit]
Description=/usr/bin/fish -c weekly

[Timer]
Persistent=yes
OnCalendar=Sun *-*-8..30
RandomizedDelaySec=1h 30min

[Install]
WantedBy=timers.target
