/.config/discoverrc
/bin/qgis_scripts/__pycache__/
/.local/data/
/github/
/.config/projectM/qprojectM.conf
/.config/nushell/history.txt
/.config/katevirc
/.config/projectM/
/.local/bin/
/.dotnet
/.config/zoom.conf
/.config/fish/functions/mega.fish
/.config/systemd/user/timers.target.wants/
/.xsel.log
/.dub/
/.config/mpv/history.log
/.config/kdialogrc
/.config/gtkrc-2.0
/.config/fish/functions/load_env_*
/.config/fish/functions/load_env_prod.fish
/.config/systemmonitorrc
/.config/systemd/user/priv*
/.config/mpv/socket
/.bigqueryrc
/.config/gtkrc-2.0
/.icons/
/.config/plasmanotifyrc
/Games
/*.desktop
/.xsession-errors
/.config/copyq/
/.config/plasma-pk-updates
/.config/plasma.emojierrc
/gak/
/.config/systemd/user/*.target.wants/
/.local/Downloads/
/.config/kdiff3fileitemactionrc
/.local/magnets
/NoMachine/
/.config/fish/completions/fzf_configure_bindings.fish
/.local/*.ovpn
/.config/kded5rc
/.config/kateschemarc
/.config/gtkrc-2.0
/.config/ksmserverrc
/.config/partitionmanagerrc
/.config/Microsoft Teams - Preview/
/.config/Microsoft/ Teams - Preview/
/.config/Microsoft/
/*.mkv
/*.bak
/.config/kactivitymanagerd-switcher
/.RData
/.duckdb_history
/.config/Trolltech.conf
/.Rhistory
/.subversion/
/.config/gallery-dl/config.json
/.zoom/
/.vscode-server/
/.config/arkrc
/.steampath
/.steampid
/.config/Image\ Loungerc
/.config/fish/functions/_fzf*
/.config/fish/functions/_autopair*
/.config/mpv/watch_later/
/.sqlite_history
/.ssh/
/.ssr/
/.steam/
/.octosql/
/go/
/.swt/
/.tixati/
/.tmp/
/.units_history
/.var/
/.viminfo
/.projectM/presets
/.projectM/playlist
/.vscode-R/
/.vscode-oss/
/.vscode/
/.wget-hsts
/net.downloadhelper.coapp*
/.Xauthority
/.wine/
/.android/
/.android-sdk/
/.audacity-data/
/.aws/
/.bash_history
/.boto
/.cache/
/.cargo/
/.cheat.sh/
/.config/abrt/
/.config/akonadi/
/.config/alvr/
/.config/Android_Open_Source_Project/
/.config/angrysearch/
/.config/asciinema/
/.config/autokey/
/.config/autostart/
/.config/autostart.bak/
/.config/balena-etcher-electron/
/.config/bdfr/
/.config/beekeeper-studio/
/.config/beets/
/.config/Blackmagic Design/
/.config/borg/
/.config/BreakTimer/
/.config/broot/
/.config/browsh/
/.config/calibre/
/.config/castor/
/.config/catt/
/.config/cef_user_data/
/.config/cheat/
/.config/cherrytree/
/.config/chromium/
/.config/ciphey/
/.config/clight-gui/
/.config/clipit/
/.config/cmus/
/.config/cni/
/.config/Code/
/.config/Code_Industry/
/.config/composer/
/.config/compton/
/.config/.config/
/.config/configstore/
/.config/darktable/
/.config/dconf/
/.config/defaultkde5.tar.gz
/.config/devcert/
/.config/diffuse/
/.config/Docker Desktop/
/.config/dolphin-emu/
/.config/earthengine/
/.config/Electron/
.config/emaildefaults
/.config/enchant/
/.config/environment.d/
/.config/Epic/
/.config/evince/
/.config/evolution/
/.config/falkon/
/.config/falkTX/
/.config/fedora-plasma-cacherc
/.config/fedoraproject.org/
/.config/feh/
/.config/fisherman/
/.config/flacon/
/.config/fontconfig/
/.config/Franz/
/.config/fsearch/
/.config/fselect/
/.config/gcloud/
/.config/gcloud.bak/
/.config/gconf/
/.config/geany/
/.config/geeqie/
/.config/gh/
/.config/ghb/
/.config/GIMP/
/.config/gmic/
/.config/gnome-boxes/
/.config/gnome-session/
/.config/goa-1.0/
/.config/goblocks/
/.config/Google/
/.config/google-chrome/
/.config/gpick/
/.config/gpicview/
/.config/GREYC/
/.config/gthumb/
/.config/gtk-2.0/
/.config/gtk-3.0/
/.config/gtk-4.0/
.config/gtkrc
/.config/guake/
/.config/gwenviewrc
/.config/Hardcoded Software/
/.config/hawck/
/.config/helm/
/.config/heroic/
/.config/Heroic/
/.config/htop/
/.config/i3/
/.config/ibus/
/.config/IGdm/
/.config/imsettings/
/.config/inkscape/
/.config/kactivitymanagerdrc
/.config/kate/
/.config/kcmfonts
/.config/kcminputrc
/.config/kconf_updaterc
/.config/KDE/
/.config/kdeconnect/
/.config/kded_device_automounterrc
/.config/kdedefaults/
/.config/kdeglobals
/.config/kdenlive-layoutsrc
/.config/kdenliverc
/.config/kde.org/
/.config/kdiff3rc
/.config/KeePass/
/.config/keepassx/
/.config/keepassxc/
/.config/keepassxcrc
/.config/KeePassXCrc
/.config/kfindrc
/.config/khal/
/.config/kinfocenterrc
/.config/kmagrc
/.config/kmenueditrc
/.config/kmozillahelperrc
.config/konsolerc
.config/konsolesshconfig
/.config/krusaderrc
/.config/kscreenlockerrc
/.config/ktimezonedrc
/.config/ktrashrc
/.config/kupfer/
/.config/leafpad/
/.config/legendary/
/.config/libaccounts-glib/
/.config/libfm/
/.config/libreoffice/
/.config/LightTable/
/.config/lnav/
/.config/lutris/
/.config/lxpanel/
/.config/lxqt/
/.config/lxsession/
/.config/lxterminal/
/.config/makemkvrc
/.config/matplotlib/
/.config/mc/
/.config/Meltytech/
/.config/Mendeley_Ltd./
/.config/menus/
/.config/.mono/
/.config/MusicBrainz/
/.config/nautilus/
/.config/nicotine/
/.config/nitrogen/
/.config/nnn/
/.config/nomacs/
/.config/obsidian/
/.config/obs-studio/
/.config/offlinebay/
.config/okularrc
/.config/omf/
/.config/openbox/
/.config/openvr/
/.config/opera/
/.config/opi/
/.config/parcellite/
/.config/pcmanfm/
/.config/pcmanfm-qt/
/.config/pdfmod/
/.config/persepolis_download_manager/
/.config/pgcli/
/.config/Picardrc
/.config/pip/
/.config/pipewire/
/.config/pipewire-media-session/
/.config/pitivi/
/.config/plasmaConfSaver/
/.config/PlasmaDiscoverUpdates
/.config/plasma-nm
/.config/plasmashellrc
/.config/plasmashellrc2
/.config/PlasmaUserFeedback
/.config/plasma-workspace/
/.config/pmbootstrap.cfg
/.config/praw.ini
/.config/print-manager
/.config/procps/
/.config/ptpython/
/.config/pulse/
/.config/pulse.bak/
/.config/PulseEffects/
/.config/pypoetry/
/.config/qalculate/
/.config/QDirStat/
/.config/QDirStatrc
/.config/QGIS/
/.config/QGIS3rc
/.config/qmk/
/.config/qpdfview/
/.config/QtProject/
/.config/QtProject.conf
/.config/qutebrowser/
/.config/R/
/.config/ranger/
/.config/RawTherapee/
/.config/rclone/
/.config/Recoll.org/
/.config/rncbc.org/
/.config/rofi/
/.config/rosegardenmusic/
/.config/rstudio/
/.config/RStudio/
/.config/RStudiorc
/.config/Sebastien Vavassori/
/.config/session/
/.config/Shotcutrc
/.config/SideQuest/
/.config/SimpleScreenRecorderrc
/.config/Slack/
/.config/smplayer/
/.config/smplayer/file_settings/
/.config/soffice.binrc
/.config/sonic-visualiser/
/.config/spacefm/
/.config/spectaclerc
/.config/SpeedCrunch/
/.config/spek/
/.config/spyder/
/.config/sq/
/.config/sqlite3/
/.config/sqlitebrowser/
/.config/.stfolder/
/.config/.stversions/
/.config/sublime-text-3/
/.config/sway/
/.config/sxhkd/
/.config/sxkhd/
/.config/synapse/
/.config/syncthing/
/.config/TabNine/
/.config/tenacity/
/.config/Thunar/
/.config/TUDelft/
/.config/tuxedo-control-center/
/.config/tuxedofancontrol/
/.config/ulauncher/
/.config/unity3d/
/.config/Unknown Organization/
/.config/Unknown_Organization/
/.config/Valve/
/.config/vifm/
/.config/VirtualBox/
/.config/vivaldi/
/.config/vlc/
/.config/.vscode/
/.config/vscode-sqltools/
/.config/VSCodium/
/.config/whipper/
/.config/wireplumber/
/.config/woob/
/.config/wslu/
/.config/xarchiver/
/.config/xdg-desktop-portal-kderc
/.config/xfce4/
/.config/xmoto/
/.config/xonsh/
/.config/xpad/
/.config/xsettingsd/
/.config/yarn/
/.config/yarpen.cz/
/.config/yelp/
/.config/zathura/
/.config/Zeal/
/.config/zim/
/.config/zoomus.conf
/data*
/Data*
/.dbt/
/.dbus/
/.debug/
/discovery*
/Discovery*
/.docker/
/.eclipse/
/.electron/
/.esmtp_queue/
/.fltk/
/.fonts/
/.games/
/.gnome/
/.gnupg/
/.grass8/
/.gsutil/
/.ipython/
/.java/
/.jkiss-lm/
/.jobs/
/.kde/
/.kde4/
/.kube/
/.lesshst
/.lmms/
/.lmmsrc.xml
/.local/config/
/.local/*cookie*
/.local/etc/
/.local/include/
/.local/lib/
/.local/.local_b/
/.local/pipx/
/.local/share/
/.local/state/
/.local/.stfolder/
/.local/.stversions/
/.local/var/
/.MakeMKV/
/.mixxx/
/.mnt/
/.mozilla/
/.murex_modules/
/.nicotine/
/.npm/
/.nx/
/.openjfx/
/.parallel/
/.pdbhistory
/.pki/
/.psql_history
/.pulumi/
/.pylint.d/
/.pypirc
/.python_history
/.qt/
/.quicktype-vscode/
/bin/2hg5eek5k2e11.jpg
/bin/5K.clean.txt
/bin/ANGRYsearch/
/bin/Android/
/bin/AntiDupl/
/bin/Astronaut.html
/bin/Astronaut_files/
/bin/BigBagKbdTrixXKB/
/bin/Bitwig Studio 4.3.9.flatpak
/bin/Clight/
/bin/Clightd/
/bin/ELAN_5.4/
/bin/Ebay-Listing-Scraper/
/bin/GraphQLmap/
/bin/Grid-Tiling-Kwin/
/bin/LosslessCut-linux/
/bin/MAMPlayer2006aug19_035/
/bin/Mxd2Qgs/
/bin/OCRmyPDF/
/bin/RED_HAWK/
/bin/RT-IR-4.0.0/
/bin/Rotten-Soup/
/bin/SQLiteStudio/
/bin/SeaChestUtilities/
/bin/SideQuest-0.10.27/
/bin/SonicVisualiser-4.5-x86_64.AppImage
/bin/SoulseekQt
/bin/Telegram/
/bin/Tenacity_linux-ubuntu-2004-x86_64-x64_linux-ninja_2586175478_/
/bin/TikzEdt_0_2_2_linux_amd64/
/bin/TreeSheets-5175451-x86_64.AppImage
/bin/TypeScript-Call-Graph/
/bin/URXVTConfig/
/bin/VERSION
/bin/WBT/
/bin/WhiteboxGAT-linux/
/bin/XSPF_Playlist_Extractor.py
/bin/__pycache__/
/bin/act
/bin/adb-sync/
/bin/alvr_server_linux/
/bin/analytics/
/bin/autossh-1.4g/
/bin/backlight.sh
/bin/barman-2.6/
/bin/bass/
/bin/baudline_1.08_linux_x86_64/
/bin/bdfr-failed.sh
/bin/bdfr-summary.sh
/bin/bfg-1.13.0.jar
/bin/bfs/
/bin/bombadillo/
/bin/bookworm/
/bin/bro
/bin/brongerlight.sh
/bin/caprine-2.13.1-x86_64.AppImage
/bin/cb
/bin/cemu_1.26.2/
/bin/cheat
/bin/check_encoding.sh
/bin/chromaprint-fpcalc-1.5.0-linux-x86_64/
/bin/cht.sh
/bin/cinelerra-5.1-fedora27-20180430.x86_64/
/bin/cloud_sql_proxy
/bin/code2flow-master/
/bin/coderay
/bin/codium.png
/bin/commander
/bin/copymaplink.sh
/bin/cream-0.43/
/bin/csv2json
/bin/cw.sh
/bin/cwn-noun-lfs.txt
/bin/d6/
/bin/ddcutil/
/bin/detectstillimagevideo.sh
/bin/detox-1.4.5/
/bin/df.sh
/bin/digdag
/bin/discoverycli.py
/bin/dragon/
/bin/drill
/bin/dsq
/bin/duckdb
/bin/easytranscript/
/bin/enhancd/
/bin/epub/
/bin/epub2txt2/
/bin/exactextract/
/bin/fasd/
/bin/ffcat.sh
/bin/ffmpeg_concat_n_videos.sh
/bin/filelist.sh
/bin/files.txt
/bin/flyway-5.2.4/
/bin/frangipanniv0.5.0/
/bin/fusee-interfacee-tk-linux/
/bin/fzf-scripts_fzmv_at_master_DanielFGray_fzf-scripts_files/
/bin/fzf_launcher.sh
/bin/fzmv
/bin/gdu
/bin/geotiff_to_cog.sh
/bin/gif.sh
/bin/gist_dl
/bin/gist_dl_user
/bin/gist_dl_user.py
/bin/googleassist.py
/bin/gron
/bin/gtest/
/bin/gutenberg_download.sh
/bin/gz
/bin/h
/bin/incident_record.sh
/bin/ineptepub.pyw
/bin/ineptkey.pyw
/bin/ineptpdf.py
/bin/ineptpdfearly.py
/bin/jd2/
/bin/jsinq-master/
/bin/json2csv.py
/bin/killvpn.sh
/bin/kotobago.substack.com/
/bin/kubectl
/bin/lein
/bin/lf.sh
/bin/libkqueue/
/bin/libmodule/
/bin/libpolyfill.so
/bin/libtest_stderred.so
/bin/loadtest.sh
/bin/login.jpg
/bin/login2.jpg
/bin/lolcat
/bin/lsix
/bin/magic-trace
/bin/makemkv-bin-1.17.2/
/bin/makemkv-oss-1.17.2/
/bin/maputnik
/bin/mdb-export-all.sh
/bin/megatools-1.10.3/
/bin/merge-geojsons.py
/bin/minikube
/bin/mkchromecast/
/bin/mm
/bin/mpv-scripts/
/bin/murex
/bin/my_mouse_id
/bin/neet/
/bin/net.downloadhelper.coapp-1.6.3/
/bin/no-more-secrets/
/bin/nokogiri
/bin/obsidian-0.13.33.asar
/bin/obsidianmd_install.sh
/bin/octosql
/bin/octosql.bak
/bin/offlinebay/
/bin/openfunscripter.AppImage
/bin/openrefine-3.1/
/bin/opus123
/bin/osmfilter
/bin/pact
/bin/parafly-r2013-01-21/
/bin/pastecsv.awk
/bin/pg_top
/bin/pginsight
/bin/phantomjs
/bin/pishrink.sh
/bin/playx/
/bin/pledge
/bin/plowshare-2.1.7/
/bin/pry
/bin/psc-package
/bin/qgis_open.py
/bin/qmk/
/bin/rclone-cron.sh
/bin/rclone.log
/bin/restclient
/bin/rmlint/
/bin/rofi-scripts/
/bin/rofi/
/bin/rsync_periodic.sh
/bin/rum/
/bin/sc3-plugins/
/bin/sent/
/bin/shiftdelete.sh
/bin/singlecopymaplink.sh
/bin/sortfiletype.sh
/bin/sponsorblock.sh
/bin/sqldiff
/bin/sqlite3_analyzer
/bin/sqlmap-dev/
/bin/ssu/
/bin/stderred/
/bin/sticky-reader-mode/
/bin/sunzip
/bin/tablescrape.py
/bin/terraform
/bin/textreme/
/bin/tf2pulumi
/bin/tilesets-cli/
/bin/tippecanoe/
/bin/toggle-monitor.sh
/bin/trackballscroll.sh
/bin/transcribe/
/bin/translate.sh
/bin/trash-cli/
/bin/travelplanner/
/bin/trdsql_v0.10.0_linux_amd64/
/bin/tribler/
/bin/tyeoh/
/bin/udisks-glue/
/bin/ultorg/
/bin/unflac
/bin/unhtml
/bin/unhtml.c
/bin/unrarsrc/
/bin/unwrap.pl
/bin/utils.py
/bin/validate_cloud_optimized_geotiff.py
/bin/verboseSSH
/bin/vim/
/bin/weka-3-8-3/
/bin/wifi
/bin/wifi-login.sh
/bin/wiki2text
/bin/with_backoff.sh
/bin/wsl-open.sh
/bin/xcaliber.sh
/bin/xidel
/bin/xmodmap-on-input-change.sh
/bin/yed-3.19/
/bin/yj
/bin/yt_channel_playlist.pl
/bin/zonal_stats.py
.config/fish/conf.d/
.config/fish/functions/12hrCSVto24hr.fish
.config/fish/functions/activate.fish
.config/fish/functions/allowMove.fish
.config/fish/functions/allscreens.fish
.config/fish/functions/allystatus.fish
.config/fish/functions/ar.fish
.config/fish/functions/audioActualTime.fish
.config/fish/functions/audioCompressAndSplit.fish
.config/fish/functions/audiodbs.fish
.config/fish/functions/bass.fish
.config/fish/functions/bc.fish
.config/fish/functions/bdfr-links.fish
.config/fish/functions/bigdpi.fish
.config/fish/functions/blockdomain.fish
.config/fish/functions/bq_fetch_dataset_schema.fish
.config/fish/functions/capitalize.fish
.config/fish/functions/castmusic.fish
.config/fish/functions/catNPMpackage.fish
.config/fish/functions/chrome-profile.fish
.config/fish/functions/cine.fish
.config/fish/functions/city.fish
.config/fish/functions/clean_home.fish
.config/fish/functions/codec.fish
.config/fish/functions/coln.fish
.config/fish/functions/config.fish
.config/fish/functions/confirm.fish
.config/fish/functions/connectbak.fish
.config/fish/functions/connectpgsql.fish
.config/fish/functions/connectpgsql5433.fish
.config/fish/functions/crontab.fish
.config/fish/functions/csv.fish
.config/fish/functions/csv_grep.fish
.config/fish/functions/default.fish
.config/fish/functions/defaultset.fish
.config/fish/functions/deleteSong.fish
.config/fish/functions/devmode.fish
.config/fish/functions/docker-cleanup.fish
.config/fish/functions/dpCML.fish
.config/fish/functions/dpcp.fish
.config/fish/functions/dupcode.fish
.config/fish/functions/duration.fish
.config/fish/functions/fasd_cd.fish
.config/fish/functions/fcd.fish
.config/fish/functions/fdupe.fish
.config/fish/functions/file-exists.fish
.config/fish/functions/fileSuffix.fish
.config/fish/functions/file_ext.fish
.config/fish/functions/files.fish
.config/fish/functions/filesDeep.fish
.config/fish/functions/filterByGenre.fish
.config/fish/functions/findandreplace.fish
