/.octosql/
/go/
/.swt/
/.tixati/
/.tmp/
/.units_history
/.var/
/.viminfo
/.projectM/presets
/.projectM/playlist
/.vscode-R/
/.vscode-oss/
/.vscode/
/.wget-hsts
/net.downloadhelper.coapp*
/.Xauthority
/.wine/
/bin/
/.android/
/.android-sdk/
/.audacity-data/
/.aws/
/.bash_history
/.bash_logout
/.boto
/.cache/
/.cargo/
/.cheat.sh/
/.config/abrt/
/.config/akonadi/
/.config/alvr/
/.config/Android_Open_Source_Project/
/.config/angrysearch/
/.config/asciinema/
/.config/autokey/
/.config/autostart/
/.config/autostart.bak/
/.config/balena-etcher-electron/
/.config/bdfr/
/.config/beekeeper-studio/
/.config/beets/
/.config/Blackmagic Design/
/.config/borg/
/.config/BreakTimer/
/.config/broot/
/.config/browsh/
/.config/calibre/
/.config/castor/
/.config/catt/
/.config/cef_user_data/
/.config/cheat/
/.config/cherrytree/
/.config/chromium/
/.config/ciphey/
/.config/clight-gui/
/.config/clipit/
/.config/cmus/
/.config/cni/
/.config/Code/
/.config/Code_Industry/
/.config/com.github.babluboy.bookworm/
/.config/composer/
/.config/compton/
/.config/.config/
/.config/configstore/
/.config/copyq/
/.config/darktable/
/.config/dconf/
/.config/defaultkde5.tar.gz
/.config/devcert/
/.config/diffuse/
/.config/Docker Desktop/
/.config/dolphin-emu/
/.config/earthengine/
/.config/Electron/
.config/emaildefaults
/.config/enchant/
/.config/environment.d/
/.config/Epic/
/.config/evince/
/.config/evolution/
/.config/falkon/
/.config/falkTX/
/.config/fedora-plasma-cacherc
/.config/fedoraproject.org/
/.config/feh/
/.config/fish/
/.config/fisherman/
/.config/flacon/
/.config/fontconfig/
/.config/Franz/
/.config/fsearch/
/.config/fselect/
/.config/gallery-dl/
/.config/gcloud/
/.config/gconf/
/.config/geany/
/.config/geeqie/
/.config/gh/
/.config/ghb/
/.config/GIMP/
/.config/git/
/.config/GitHub_Desktop/
/.config/gmic/
/.config/gnome-boxes/
/.config/gnome-session/
/.config/goa-1.0/
/.config/goblocks/
/.config/Google/
/.config/google-chrome/
/.config/gpick/
/.config/gpicview/
/.config/GREYC/
/.config/gthumb/
/.config/gtk-2.0/
/.config/gtk-3.0/
/.config/gtk-4.0/
.config/gtkrc
/.config/guake/
/.config/gwenviewrc
/.config/Hardcoded Software/
/.config/hawck/
/.config/helm/
/.config/heroic/
/.config/Heroic/
/.config/htop/
/.config/i3/
/.config/ibus/
/.config/IGdm/
/.config/imsettings/
/.config/inkscape/
/.config/kactivitymanagerdrc
/.config/kate/
/.config/kcmfonts
/.config/kcminputrc
/.config/kconf_updaterc
/.config/KDE/
/.config/kdeconnect/
/.config/kded_device_automounterrc
/.config/kdedefaults/
/.config/kdeglobals
/.config/kdenlive-layoutsrc
/.config/kdenliverc
/.config/kde.org/
/.config/kdialogrc
/.config/kdiff3rc
/.config/KeePass/
/.config/keepassx/
/.config/keepassxc/
/.config/keepassxcrc
/.config/KeePassXCrc
/.config/kfindrc
/.config/khal/
/.config/kinfocenterrc
/.config/kitty/
/.config/kmagrc
/.config/kmenueditrc
/.config/kmozillahelperrc
.config/konsolerc
.config/konsolesshconfig
/.config/krusaderrc
/.config/kscreenlockerrc
/.config/ktimezonedrc
/.config/ktrashrc
/.config/kupfer/
/.config/leafpad/
/.config/legendary/
/.config/libaccounts-glib/
/.config/libfm/
/.config/libreoffice/
/.config/LightTable/
/.config/lnav/
/.config/lutris/
/.config/lxpanel/
/.config/lxqt/
/.config/lxsession/
/.config/lxterminal/
/.config/makemkvrc
/.config/matplotlib/
/.config/mc/
/.config/Meltytech/
/.config/Mendeley_Ltd./
/.config/menus/
/.config/Microsoft/
/.config/Microsoft Teams - Preview/
/.config/.mono/
.config/mpv/history.log
/.config/mpv/watch_later/
/.config/MusicBrainz/
/.config/nautilus/
/.config/nicotine/
/.config/nitrogen/
/.config/nnn/
/.config/nomacs/
/.config/obsidian/
/.config/obs-studio/
/.config/offlinebay/
.config/okularrc
/.config/omf/
/.config/oomox/
/.config/openbox/
/.config/openvr/
/.config/opera/
/.config/opi/
/.config/parcellite/
/.config/pcmanfm/
/.config/pcmanfm-qt/
/.config/pdfmod/
/.config/persepolis_download_manager/
/.config/pgcli/
/.config/Picardrc
/.config/pip/
/.config/pipewire/
/.config/pipewire-media-session/
/.config/pitivi/
/.config/plasmaConfSaver/
/.config/PlasmaDiscoverUpdates
/.config/plasma-nm
/.config/plasma-org.kde.plasma.desktop-appletsrc
/.config/plasmashellrc
/.config/plasmashellrc2
/.config/PlasmaUserFeedback
/.config/plasma-workspace/
/.config/pmbootstrap.cfg
/.config/praw.ini
/.config/print-manager
/.config/procps/
/.config/ptpython/
/.config/pulse/
/.config/pulse.bak/
/.config/PulseEffects/
/.config/pypoetry/
/.config/qalculate/
/.config/QDirStat/
/.config/QDirStatrc
/.config/QGIS/
/.config/QGIS3rc
/.config/qmk/
/.config/qpdfview/
/.config/qt5ct/
/.config/QtProject/
/.config/QtProject.conf
/.config/qutebrowser/
/.config/R/
/.config/ranger/
/.config/RawTherapee/
/.config/rclone/
/.config/Recoll.org/
/.config/rncbc.org/
/.config/rofi/
/.config/rosegardenmusic/
/.config/rstudio/
/.config/RStudio/
/.config/RStudiorc
/.config/SalSoft/
/.config/Sebastien Vavassori/
/.config/session/
/.config/Shotcutrc
/.config/SideQuest/
/.config/SimpleScreenRecorderrc
/.config/Slack/
/.config/smplayer/
/.config/smplayer/file_settings/
/.config/soffice.binrc
/.config/sonic-visualiser/
/.config/spacefm/
/.config/spectaclerc
/.config/SpeedCrunch/
/.config/spek/
/.config/spyder/
/.config/sq/
/.config/sqlite3/
/.config/sqlitebrowser/
/.config/.stfolder/
/.config/.stversions/
/.config/sublime-text-3/
/.config/sway/
/.config/sxhkd/
/.config/sxkhd/
/.config/synapse/
/.config/syncthing/
/.config/TabNine/
/.config/tenacity/
/.config/Thunar/
/.config/Trolltech/
.config/Trolltech.conf
/.config/TUDelft/
/.config/tuxedo-control-center/
/.config/tuxedofancontrol/
/.config/ulauncher/
/.config/unity3d/
/.config/Unknown Organization/
/.config/Unknown_Organization/
/.config/Valve/
/.config/vifm/
/.config/VirtualBox/
/.config/vivaldi/
/.config/vlc/
/.config/.vscode/
/.config/vscode-sqltools/
/.config/VSCodium/
/.config/whipper/
/.config/wireplumber/
/.config/woob/
/.config/wslu/
/.config/xarchiver/
/.config/xdg-desktop-portal-kderc
/.config/xfce4/
/.config/xmoto/
/.config/xonsh/
/.config/xpad/
/.config/xsettingsd/
/.config/yarn/
/.config/yarpen.cz/
/.config/yelp/
/.config/yt-dlg/
/.config/zathura/
/.config/Zeal/
/.config/zim/
/.config/zoomus.conf
/data*
/Data*
/.dbt/
/.dbus/
/.debug/
/discovery*
/Discovery*
/opencellid
/.docker/
/.eclipse/
/.electron/
/.esmtp_queue/
/.fltk/
/.fonts/
/.games/
/.git/
/github/
/.gnome/
/.gnupg/
/.gradle/
/.grass8/
/.gsutil/
/.icons/
/.ipython/
/.java/
/.jkiss-lm/
/.jobs/
/.kde/
/.kde4/
/.kube/
/.lesshst
/.lmms/
/.lmmsrc.xml
/.local/bin/
/.local/config/
/.local/*cookie*
/.local/etc/
/.local/include/
/.local/lib/
/.local/.local_b/
/.local/pipx/
/.local/share/
/.local/state/
/.local/.stfolder/
/.local/.stversions/
/.local/var/
/.MakeMKV/
/.mixxx/
/.mnt/
/.mozilla/
/.murex_modules/
/.nicotine/
/.npm/
/.nx/
/.openjfx/
/.parallel/
/.pdbhistory
/.pki/
/.psql_history
/.pulumi/
/.pylint.d/
/.pypirc
/.python_history
/.qt/
/.quicktype-vscode/
/.rubberband.wisdom.d
/.sqlite_history
/.ssh/
/.ssr/
/.steam/
