.env
.vscode
/.android-sdk/
/.android/
/.audacity-data/
/.aws/
/.bash_history
/.bash_logout
/.boto
/.cache/
/.cargo/
/.cheat.sh/
/.cht.sh/
/.config/
/.config/.stversions/
/.config/BreakTimer/
/.config/chromium/
/.config/copyq/
/.config/Docker Desktop/
/.config/falkon/
/.config/Microsoft/
/.config/mpv/watch_later/
/.config/plasmaConfSaver/
/.config/SideQuest/
/.config/smplayer/file_settings/
/.config/tuxedo-control-center/
/.config/ulauncher/
/.config/VSCodium/
/.dbt/
/.dbus/
/.debug/
/.docker/
/.eclipse/
/.electron/
/.esmtp_queue/
/.fltk/
/.fonts/
/.games/
/.git/
/.gnome/
/.gnupg/
/.gradle/
/.grass8/
/.gsutil/
/.icons/
/.ipython/
/.java/
/.jkiss-lm/
/.jobs/
/.kde/
/.kde4/
/.kube/
/.lesshst
/.lmms/
/.lmmsrc.xml
/.local/
/.MakeMKV/
/.mixxx/
/.mnt/
/.mozilla/
/.murex_modules/
/.nicotine/
/.npm/
/.nx/
/.openjfx/
/.parallel/
/.pdbhistory
/.pki/
/.pulumi/
/.pylint.d/
/.qt/
/.quicktype-vscode/
/.ssh/
/.ssr/
/.steam/
/.subversion/
/.swt/
/.themes/
/.tixati/
/.tmp/
/.var/
/.vnc/
/.vscode-oss/
/.vscode-R/
/.vscode/
/.w3m/
/.wine/
/.Xauthority
/.y2control/
/.zoom/
/bin/
/discovery*
/Discovery*
/github/
/net.downloadhelper.coapp*
/data*
/Data*
/.xsession-errors
/.xsel.log
/.psql_history
/.pypirc
/.python_history
/.sqlite_history
/.rubberband.wisdom.d
/.wget-hsts
/.viminfo
/.units_history
/.steampid
