/**********
 * Button *
 **********/

GtkButton {
    background-color: @bg_color;
    border-image: url("data/border.png") 2 2 2 2;
    border-style: none;
}

GtkButton:active {
    background-color: @base_color;
    border-image: url("data/border-active.png") 2 2 2 2;
    border-style: none;
}

GtkButton:insensitive {
    border-image: url("data/border.png") 2 2 2 2;
    border-style: none;
}
